.container {
    padding: 0 32px;
    margin: 0 auto;
}

@media only screen and (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media only screen and (min-width: 992px) {
    .container {
        max-width: 1000px;
    }
}